<form>
  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x grid-padding-x align-center">
      <div class="cell medium-3 medium-cell-block-y">
        <img class="thumbnail float-right" src="assets/if_unknown2_628287_256.png"/>
      </div>
      <div class="cell medium-3 medium-cell-block-y">
        <label>Name
          <input type="text" placeholder="John Doe">
        </label>
        <label>Father
          <select>
            <option></option>
          </select>
        </label>
        <label>Mother
          <select>
            <option></option>
          </select>
        </label>
      </div>
    </div>
  </div>
</form>
